# Project 1: Customer Database
**This is the first of three mandatory projects to be handed in as part of the assessment for the course 02807 Computational Tools for Data Science at Technical University of Denmark, autumn 2019.**

#### Practical info
- **The project is to be done in groups of at most 3 students**
- **Each group has to hand in _one_ Jupyter notebook (this notebook) with their solution**
- **The hand-in of the notebook is due 2019-10-13, 23:59 on DTU Inside**

#### Your solution
- **Your solution should be in Python**
- **For each question you may use as many cells for your solution as you like**
- **You should document your solution and explain the choices you've made (for example by using multiple cells and use Markdown to assist the reader of the notebook)**
- **You should not remove the problem statements, and you should not modify the structure of the notebook**
- **Your notebook should be runnable, i.e., clicking [>>] in Jupyter should generate the result that you want to be assessed**
- **You are not expected to use machine learning to solve any of the exercises**
- **You will be assessed according to correctness and readability of your code, choice of solution, choice of tools and libraries, and documentation of your solution**

## Introduction
Your team has been hired by the company X as data scientists. X makes gadgets for a wide range of industrial and commercial clients.

As in-house data scientists, your teams first task, as per request from your new boss, is to optimize business operations. You have decided that a good first step would be to analyze the companys historical sales data to gain a better understanding of where profit is coming from. It may also reveal some low hanging fruit in terms of business opportunities.

To get started, you have called the IT department to get access to the customer and sales transactions database. To your horror you've been told that such a database doens't exist, and the only record of sales transactions is kept by John from finance in an Excel spreadsheet. So you've emailed John asking for a CSV dump of the spreadsheet...

In this project you need to clean the data you got from John, enrich it with further data, prepare a database for the data, and do some data analysis. The project is comprised of five parts. They are intended to be solved in the order they appear, but it is highly recommended that you read through all of them and devise an overall strategy before you start implementing anything.

## Part 1: Cleaning the data
John has emailed you the following link to the CSV dump you requested.

- [transactions.csv](https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv)

It seems as though he has been a bit sloppy when keeping the records. 

In this part you should:
- Explain what the data is
- Clean it to prepare it for inserting into a database and doing data analysis

---
### Solution

We start off by fetching the data, checking the data types and the first few lines to get a general feeling for what we are working with.

In [274]:
import pandas as pd
import numpy as np

df = pd.read_csv('transactions.csv')

print(df.dtypes)

df.head(10)

part       object
company    object
country    object
city       object
price      object
date       object
dtype: object

,part,company,country,city,price,date
0,54868-5165,Chatterbridge,Spain,Barcelona,784.79€,2016-01-02 00:01:05
1,60505-2867,Lajo,Greece,Thessaloniki,187.99€,2016-01-02 00:05:26
2,24385-268,Flipstorm,Greece,Athens,221.73€,2016-01-02 00:18:30
3,76117-001,Twitterbeat,France,Annecy,1075.82€,2016-01-02 02:32:30
4,44946-1046,Chatterbridge,Spain,Barcelona,412.55€,2016-01-02 04:51:55
5,16729-167,Chatterbridge,Spain,Barcelona,359.52€,2016-01-02 07:20:59
6,52125-444,Voomm,France,Paris,266.62€,2016-01-02 07:40:37
7,43419-018,Buzzbean,Germany,Düsseldorf,103.45€,2016-01-02 08:57:57
8,54092-515,Zooxo,United Kingdom,London,£704.94,2016-01-02 09:09:01
9,24286-1562,Lajo,Greece,Thessaloniki,317.65€,2016-01-02 11:01:32

The data consists of:
- Part serial number
- Company name
- Company location, country
- Company location, city
- Price of the part
- Date of transaction

Apparently there are some typos in a couple of dates that need to be fixed before they can be converted to datetime format:

In [160]:
for i in range(len(df)):
    try:
        pd.to_datetime(df.date[i])
    except ValueError:
        raise ValueError("Incorrect data format: ", df.date[i], ' row: ', i)

In [275]:
# ValueError: ('Incorrect data format: ', '2016-06-32 07:22:28', ' row: ', 3539)
# ValueError: ('Incorrect data format: ', '2016-06-32 08:08:48', ' row: ', 3540)
df.date[3539] = '2016-06-30 07:22:28'
df.date[3540] = '2016-06-30 08:08:48'

We then check how many unique values we have in each column and whether there are any missing values or typos. We also put date into a proper datetime format in order to get earliest and latest date.

In [390]:
print('number of rows: ', len(df), '\n')
print('unique parts: ', len(df.part.unique()))
print('nan: ', df.part.isna().sum(), '\n')

print(df.country.unique())
print('nan: ', df.country.isna().sum(), '\n')

print(df.city.unique())
print('nan: ', df.city.isna().sum(), '\n')

print(df.company.unique())
print('company nan: ', df.company.isna().sum(), '\n')

print('price nan: ', df.price.isna().sum())
print('date nan: ', df.date.isna().sum(), '\n')

print('price in €: ', len(df[df['price'].str.contains("€")==True]))
print('price in £: ', len(df[df['price'].str.contains("£")==True]))
print('price in $: ', len(df[df['price'].str.contains("$")==True]))
print('price in ¥: ', len(df[df['price'].str.contains("¥")==True]))
print('undefined price: ', len(df[df['price'].str.contains("[£$¥€]")==False]), '\n')

df['datetime'] = pd.to_datetime(df.date)
print('date min: ', df.datetime.min())
print('date max: ', df.datetime.max())
df.drop(['date'], inplace=True, axis=1)

df[df['price'].str.contains("[£$¥€]")==False]

number of rows:  20568

unique parts:  101
nan:  10

['Spain' 'Greece' 'France' 'Germany' 'United Kingdom' 'Portugal'
 'United States' 'Netherlands' 'Japan' 'Switzerland' nan]
nan:  2171

['Barcelona' 'Thessaloniki' 'Athens' 'Annecy' 'Paris' 'Düsseldorf'
 'London' 'Braga' 'Nanterre' 'Amadora' 'New York' 'Arnhem' 'Nice' 'Lisbon'
 'Amsterdam' 'Porto' 'Boston' 'Niihama' 'Almada' 'Aranhas' 'Heraklion'
 'Amiens' 'Patras' 'Arcueil' 'Lyon' 'Asaka' 'Champagnole' 'Zürich' nan
 'Monção' 'Vila Fria']
nan:  33

['Chatterbridge' 'Lajo' 'Flipstorm' 'Twitterbeat' 'Voomm' 'Buzzbean'
 'Zooxo' 'Brainsphere' 'Thoughtmix' 'Wordify' 'Teklist' 'Avaveo' 'Ntags'
 'Innojam' 'Shufflebeat' 'Zoonder' 'Kanoodle' 'Gabcube' 'Roodel'
 'Riffpath' 'Eimbee' 'Yozio' 'Rhycero' 'Realpoint' 'Gabtune' 'Bubblemix'
 'Gevee' 'Tagtune' 'Ntagz' ' -' ' a' 'aa']
company nan:  0

price nan:  1
date nan:  0

price in €:  17279
price in £:  1672
price in $:  20567
price in ¥:  181
undefined price:  10

date min:  2016-01-02 00:01:05
date max:  2019-05-14 22:48:39

,part,company,country,city,price,datetime
8683,49349-820,Chatterbridge,Spain,Barcelona,-,2017-03-03 15:24:39
8684,10267-2529,Thoughtmix,Portugal,Amadora,-,2017-03-03 18:07:56
8685,13537-259,Ntags,Portugal,Lisbon,-,2017-03-03 19:08:54
8934,68084-172,Twitterbeat,France,Annecy,void,2017-03-18 01:53:38
10328,54868-0823,Chatterbridge,Spain,Barcelona,void,2017-06-02 06:49:09
10329,41163-428,Avaveo,France,Nice,-,2017-06-02 07:04:35
10330,52959-433,Buzzbean,Germany,Düsseldorf,-,2017-06-02 09:04:46
11155,35356-325,Thoughtmix,Portugal,Amadora,na,2017-07-19 00:55:13
11156,24385-268,Twitterbeat,France,Annecy,na,2017-07-19 01:34:53
11157,59779-601,Thoughtmix,Portugal,Amadora,na,2017-07-19 01:45:59

#### Issues with data:
- Missing values in part, country, city and price **✔**-ish (What should we do with part?)
- Typos in country and city **✔**
- Germany/Tyskland, United States/US, Portugal/Portuga **✔**
- Typos in date (already fixed) **✔**
- Prices are in different currencies
- Some prices unidentified **✔**-ish
- Typos and nonsense company names **✔**

#### Cleanup:
Lets start with fixing typos in company, country and city. The correct currency for four rows can be deduced country/city. Rows with missing company and/or price are removed since without that the data is of very limited use.

In [421]:
dfc = df # df cleaned

dfc['company'] = df['company'].replace({'Laj0':'Lajo','Zooxo.':'Zooxo','Thoughtmixz':'Thoughtmix'})
dfc['country'] = df['country'].replace({'Tyskland':'Germany', 'US':'United States', 'Portuga':'Portugal'})
dfc['city'] = df['city'].replace({'Amadora\t':'Amadora'})

dfc = dfc[dfc.company != ' -']
dfc = dfc[dfc.company != ' a']
dfc = dfc[dfc.company != 'aa']

dfc = dfc[dfc.price != '-']
dfc = dfc[dfc.price != 'void']
dfc = dfc[dfc.price != 'na']
dfc = dfc[dfc.price.isna()==False]

dfc.iloc[[2414],[4]] = dfc.iloc[[2414],[4]] + '€'
dfc.iloc[[2415],[4]] = dfc.iloc[[2415],[4]] + '€'
dfc.iloc[[2526],[4]] = dfc.iloc[[2526],[4]] + '€'
dfc.iloc[[2528],[4]] = dfc.iloc[[2528],[4]] + '€'

# dfc[dfc['price'].str.contains("[£$¥€]")==False]

The missing city values are recovered by comparing rows with same company and the missing country values are likewise deduced from the city.

In [422]:
dfc['city'] = dfc['city'].fillna(dfc['company'].map({
    'Brainsphere':'Braga', 
    'Shufflebeat':'Porto',
    'Ntags':'Lisbon',
    'Thoughtmix':'Amadora',
    'Yozio':'Patras',
    'Twitterbeat':'Annecy',
    'Zooxo':'London',
    'Zoonder':'Boston',
    'Teklist':'Arnhem',
    'Wordify':'New York',
    'Kanoodle':'Niihama' 
}))

dfc['country'] = dfc['country'].fillna(dfc['city'].map({
    'Arnhem':'Netherlands',
    'Braga':'Portugal',
    'Düsseldorf':'Germany',
    'Annecy':'France',
    'Heraklion':'Greece',
    'Barcelona':'Spain',
    'Lisbon':'Portugal',
    'Athens':'Greece',
    'Amadora':'Portugal',
    'Aranhas':'Portugal',
    'New York':'United States',
    'Patras':'Greece',
    'Amiens':'France',
    'Almada':'Portugal',
    'Boston':'United States',
    'Porto':'Portugal',
    'Paris':'France',
    'Nice':'France',
    'London':'United Kingdom',
    'Niihama':'Japan',
    'Asaka':'Japan',
    'Nanterre':'France',
    'Arcueil':'France',
    'Lyon':'France',
    'Thessaloniki':'Greece',
    'Amsterdam':'Netherlands',
    'Champagnole':'France',
    'Zürich':'Germany'
}))

The price is then extracted and placed in a new column corresponding to the currency.

In [427]:
dfc['eur'] = np.where(dfc['price'].str.contains("€")==True, dfc['price'].map(lambda x: x.lstrip('€').rstrip('€')), None)
dfc['usd'] = np.where(dfc['price'].str.contains("\$")==True, dfc['price'].map(lambda x: x.lstrip('$').rstrip('$')), None)
dfc['gbp'] = np.where(dfc['price'].str.contains("£")==True, dfc['price'].map(lambda x: x.lstrip('£').rstrip('£')), None)
dfc['yen'] = np.where(dfc['price'].str.contains("¥")==True, dfc['price'].map(lambda x: x.lstrip('¥').rstrip('¥')), None)

dfc['eur'] = dfc['eur'].astype(float)
dfc['usd'] = dfc['usd'].astype(float)
dfc['gbp'] = dfc['gbp'].astype(float)
dfc['yen'] = dfc['yen'].astype(float)

#dfc.head(20)

17279

In [397]:
#print(dfc.part.unique(), '\n')
print(dfc.company.unique(), '\n')
print(dfc.country.unique(), '\n')
print(dfc.city.unique(), '\n')

print(len(dfc[dfc.part.isna()==True]))
print(len(dfc[dfc.company.isna()==True]))
print(len(dfc[dfc.country.isna()==True]))
print(len(dfc[dfc.city.isna()==True]))
print(len(dfc[dfc.price.isna()==True]))
print(len(dfc[dfc.datetime.isna()==True]))

['Chatterbridge' 'Lajo' 'Flipstorm' 'Twitterbeat' 'Voomm' 'Buzzbean'
 'Zooxo' 'Brainsphere' 'Thoughtmix' 'Wordify' 'Teklist' 'Avaveo' 'Ntags'
 'Innojam' 'Shufflebeat' 'Zoonder' 'Kanoodle' 'Gabcube' 'Roodel'
 'Riffpath' 'Eimbee' 'Yozio' 'Rhycero' 'Realpoint' 'Gabtune' 'Bubblemix'
 'Gevee' 'Tagtune' 'Ntagz']

['Spain' 'Greece' 'France' 'Germany' 'United Kingdom' 'Portugal'
 'United States' 'Netherlands' 'Japan' 'Switzerland']

['Barcelona' 'Thessaloniki' 'Athens' 'Annecy' 'Paris' 'Düsseldorf'
 'London' 'Braga' 'Nanterre' 'Amadora' 'New York' 'Arnhem' 'Nice' 'Lisbon'
 'Amsterdam' 'Porto' 'Boston' 'Niihama' 'Almada' 'Aranhas' 'Heraklion'
 'Amiens' 'Patras' 'Arcueil' 'Lyon' 'Asaka' 'Champagnole' 'Zürich'
 'Monção' 'Vila Fria']

10
0
0
0
0
0

In [ ]:
# TODO: create column for each currency and insert them, fix missing country/city

---
## Part 2: Enriching the data

A common task for a data scientists is to combine or enrich data from internal sources with data available from external sources. The purpose of this can be either to fix issues with the data or to make it easier to derive insights from the data.

In this part you should enrich your data with data from at least one external source. You may look to part 4 for some  inspiration as to what is required. Your solution should be automated, i.e., you can not ask the reader of your notebook to download any data manually. You should argue why and what you expect to achieve by the enrichments you are doing.

---
### Solution

In [ ]:
# We should probably have a column for each currency and fill in the gaps using exchange rate info from the api

---
## Part 3: Creating a database
Storing data in a relational database has the advantages that it is persistent, fast to query, and it will be easier access for other employees at Weyland-Yutani.

In this part you should:
- Create a database and table(s) for the data
- Insert data into the tables

You may use SQLite locally to do this. You should argue why you choose to store your data the way you do.

---
### Solution

In [ ]:
# TODO: Explain, insert data

In [183]:
import sqlite3
conn = sqlite3.connect('project1.sqlite')
c = conn.cursor()

c.execute('DROP TABLE IF EXISTS trans')
conn.commit()
c.execute('DROP TABLE IF EXISTS part')
conn.commit()
c.execute('DROP TABLE IF EXISTS city')
conn.commit()
c.execute('DROP TABLE IF EXISTS country')
conn.commit()
c.execute('DROP TABLE IF EXISTS price')
conn.commit()
conn.close()

In [184]:
import sqlite3
conn = sqlite3.connect('project1.sqlite')
c = conn.cursor()

query = '''
CREATE TABLE IF NOT EXISTS trans(
    id INTEGER PRIMARY KEY,
    part_id INTEGER,
    company_id INTEGER,
    country_id INTEGER,
    city_id INTEGER,
    eur DECIMAL(13, 4),
    usd DECIMAL(13, 4),
    gbp DECIMAL(13, 4),
    yen DECIMAL(13, 4),
    transaction_date DATETIME,
    FOREIGN KEY(part_id) REFERENCES part(id),
    FOREIGN KEY(city_id) REFERENCES city(id),
    FOREIGN KEY(country_id) REFERENCES country(id)
)
'''

c.execute('CREATE TABLE IF NOT EXISTS part(id INTEGER PRIMARY KEY, serial VARCHAR(50))')
conn.commit()

c.execute('CREATE TABLE IF NOT EXISTS company(id INTEGER PRIMARY KEY, name VARCHAR(50))')
conn.commit()

c.execute('CREATE TABLE IF NOT EXISTS country(id INTEGER PRIMARY KEY, name VARCHAR(50))')
conn.commit()

c.execute('CREATE TABLE IF NOT EXISTS city(id INTEGER PRIMARY KEY, name VARCHAR(50))')
conn.commit()

conn.close()

---
## Part 4: Analyzing the data
You are now ready to analyze the data. Your goal is to gain some actionable business insights to present to your boss. 

In this part, you should ask some questions and try to answer them based on the data. You should write SQL queries to retrieve the data. For each question, you should state why it is relevant and what you expect to find.

To get you started, you should prepare answers to the following questions. You should add more questions.
#### Who are the most profitable clients?
Knowing which clients that generate the most revenue for the company will assist your boss in distributing customer service ressources.

#### Are there any clients for which profit is declining?
Declining profit from a specific client may indicate that the client is disatisfied with the product. Gaining a new client is often much more work than retaining one. Early warnings about declining profit may help your boss fighting customer churn.


Remember, you are taking this to your new boss, so think about how you present the data.

---
### Solution

---
## Part 5: Performance
Your boss is very impressed with what you have achieved in less than two weeks, and he would like to take your idea of storing the customer and sales data in a relational database to production. However, John is concerned that the solution will not scale. His experience is telling him that you will see many occurrences of the following queries.

- Show all sales to company X between time $t_1$ and time $t_2$
- Show the latest X sales in the database
- Show total sales per company per day

Show that Johns concern is not justified.

---
### Solution

In [ ]:
# Concerns of a massive and therefore slow database? Fix with indexes?

---